@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500;1,800;1,900&family=Press+Start+2P&family=Titan+One&display=swap');

h1{
    
    text-align: center;
}

h2{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}