<!-- When user clicks add item to Cart-->
<!-- This will be displayed-->
<div *ngIf="Reccomend == false">
  <h1>{{LatestItem.name}} added to Cart</h1>
  <h2> (: </h2>
  </div>
  
  <!-- If the User Picks a Phone this code will Fire-->
  <div *ngIf="Reccomend == true">
      <h1>{{LatestItem.name}}</h1>
      <p>added to Cart 😇</p>
      <h2>we have something that will do great with the {{LatestItem.name}} </h2>
      <div class="price">
        €{{RandomItem.price}}   
      </div>
      <div class="wrapper">
          <div class="container">
            <div class="top">
              <a [routerLink]="['/product', RandomItem.id]"> <img src="{{RandomItem.img}}" alt=""> </a>
            </div>
            <div class="bottom">
              <div class="left">
                <div class="details">
                  {{RandomItem.name}}     
                </div>
                <div class="buy">
                  <i class="material-icons" (click)="hey()" >add_shopping_cart</i>
                </div>
              </div>
              <div class="right">
                <div class="done"><i class="material-icons">done</i></div>
                <div class="details">
                  {{RandomItem.name}}
                  <p>Added to your cart</p>
                </div>
                <div class="remove"><i class="material-icons">clear</i></div>
              </div>
            </div>
          </div>
          <div class="inside">
            <div class="icon"><i class="material-icons">info_outline</i></div>
            <div class="contents">
              <table>
                <tr>
                  <th>About</th>
                  <th>Type</th>
                </tr>
                <tr>
                  <td>{{RandomItem.desc}}</td>
                  <td>{{RandomItem.type}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
  </div>