@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500;1,800;1,900&family=Press+Start+2P&family=Titan+One&display=swap');

h1{
    
    text-align: center;
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    color : #eebf6c;
}

p{
    text-align: center;
    font-size: 26px;
}

h2{
    font-size: 20px;
    text-align: center;
}

h3{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.price{
    color: green;
    font-size: 18px;
    text-align: center;
  
  }

