<!DOCTYPE html>
<html>

  <title> Shop </title>

  <head>
    <script src="https://kit.fontawesome.com/8e5f0809e3.js" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <header>     
        <a class="logo" routerLink=""> <img src="/assets/images/banna1.png" alt="logo"> </a> 
        <a *ngIf="auth.user$ | async as user"><img [src]="user.picture" routerLink="profile" alt="User Pic" class="pic" /></a>
      <nav>             
          <ul class="nav__links">
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="store">Shop</a></li>
              <li><a routerLink="basket"><i class='fas fa-shopping-basket' ></i></a></li>
              <li *ngIf="admin == true" ><a  routerLink="admin"><i class='fa fa-address-card' ></i></a></li>                     
          </ul>
      </nav>  
  </header>
  <div id="mobile__menu" class="overlay">
      <a class="close">&times;</a>
      <div class="overlay__content">
          <a routerLink="home">Home</a>
          <a routerLink="test">Test</a>
          <a routerLink="profile">Profile</a>
          <a href="#">Store</a>
          <a href="#">Cart</a>
      </div>
  </div>

<router-outlet></router-outlet>

<footer>
  <p><a href="mailto:hahesyshane@gmail.com">ShaneH Designs</a></p>
</footer>

</body>

</html>