<!DOCTYPE html>
<html>
  <title> Shop </title>
  <head>
    <script src="https://kit.fontawesome.com/8e5f0809e3.js" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <header>     
        <a class="logo" routerLink=""> <img src="/assets/images/BannerD1.svg" alt="logo"> </a> 
        <a *ngIf="auth.user$ | async as user"><img [src]="user.picture" routerLink="test" alt="User Pic" class="pic" /></a>
      <nav>             
          <ul class="nav__links">
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="store">Store</a></li>
              <li><a routerLink="test">Test</a></li>
              <!-- ng if for Cart Size data stored in Cookie Storage-->    
              <li *ngIf="cartSize == 0" > <a routerLink="cart"><li><i class='fas fa-shopping-basket' ></i></a></li>
              <li *ngIf="cartSize > 0" > <a routerLink="cart"><li><i class='fas fa-shopping-basket ' ></i> {{cartSize}}</a></li>


          </ul>
      </nav>
      
  </header>
  <div id="mobile__menu" class="overlay">
      <a class="close">&times;</a>
      <div class="overlay__content">
          <a routerLink="home">Home</a>
          <a routerLink="test">Test</a>
          <a href="#">Store</a>
          <a href="#">Cart</a>
      </div>
  </div>


<router-outlet></router-outlet>
<footer>
  <p><a href="mailto:hahesyshane@gmail.com">ShaneH Designs</a></p>
</footer>
</body>
</html>