<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
	
	
	</head>
	<body>
		<script src="https://www.paypal.com/sdk/js?client-id=AUyOGfzmR4kY00aC3qdx6G0hr4SuW6LGZgoq726mXblN2pgg37ZhI9xJOns7k86XS-n5N_XgsgX_rRrN"></script>
	   <div class="CartContainer">   
			  <div class="Header">	   	
			  </div>
			<div class="EmptyCart" *ngIf="EmptyCart == true">
			<h1> The Cart is Empty</h1>
			<img src='assets/images/box.png' alt='image'> 
		  </div>
	
	<div *ngIf="EmptyCart == false;">
		<button mat-raised-button color="primary"n (click)="clearCart()">empty basket</button>
	<div *ngFor=" let i of Items">     
		
			  <div class="Cart-Items">
					<div class="about">
						<h1 class="title">{{i.name}}</h1>
		
					</div>
					<div class="prices">
						<div class="amount">€{{i.price}}</div>
					</div>
			  </div>
			  </div>
			<hr> 
			<div class="checkout">
			<div class="total">
				<div>
					<div class="Subtotal">Sub-Total</div><br>
					<div class="items">Items : {{CartT}}</div>
				</div>
				<div class="total-amount">€ {{DisplayTotal}}</div>
			</div>
			<button (click)="pay(Total)" class="button">Checkout with Stripe</button></div>
		 
	   </div>
	</div>
	
	
	 
	
	