<!DOCTYPE html>
<html>
  <title> Shop </title>
  <head>
    <script src="https://kit.fontawesome.com/8e5f0809e3.js" crossorigin="anonymous"></script>
  </head>
  <body>
<nav class="page__menu page__custom-settings menu">
    <ul class="menu__list r-list">
      <li class="menu__group"><a routerLink="home" class="menu__link r-link text-underlined">Home</a></li>
      <li class="menu__group"><a routerLink="store" class="menu__link r-link text-underlined">Store</a></li>
      <li class="menu__group"><a routerLink="cart" class="menu__link r-link text-underlined">Cart</a></li>

</ul>
</nav>

<router-outlet></router-outlet>

<footer>
  <p><a href="mailto:hahesyshane@gmail.com">ShaneH Designs</a></p>
</footer>
</body>
</html>