<!DOCTYPE html>
<html>
  <title> Shop </title>
  <head>
    <script src="https://kit.fontawesome.com/8e5f0809e3.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>     
        <a class="logo" routerLink=""> <img src="/assets/images/BannerD1.svg" alt="logo"> </a> 
        <a *ngIf="auth.user$ | async as user"><img [src]="user.picture" routerLink="test" alt="User Pic" class="pic" /></a>
      <nav>             
          <ul class="nav__links">
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="store">Store</a></li>
              <!-- ng if for Cart Size data stored in LocalStorage-->

              <li><a routerLink="cart">Cart</a></li>
              <li><a routerLink="test">Test</a></li>
              
          </ul>
      </nav>
      <a class="cta" href="#">Contact</a>
      <p class="menu cta">Menu</p>
      
  </header>
  <div id="mobile__menu" class="overlay">
      <a class="close">&times;</a>
      <div class="overlay__content">
          <a routerLink="home">Home</a>
          <a routerLink="test">Test</a>
          <a href="#">Store</a>
          <a href="#">Cart</a>
      </div>
  </div>



  
<router-outlet></router-outlet>
<footer>
  <p><a href="mailto:hahesyshane@gmail.com">ShaneH Designs</a></p>
</footer>
</body>
</html>