<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <title>Mobile Direct</title>
  <!-- bootstrap core css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- font awesome style -->

  <!-- <img src="/assets/images/slider-img.png" alt="">-->
  
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />


</head>
<!--*****Start of Home Page Testing*****-->
<!-- This is the Part we need -->

<!-- **Slider Section** -->

<!-- Slide One Code-->
<section class="slider_section ">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1> Recently Released </h1>
                <h4> View our whole new Range of Smart-Watches  available now </h4>
                <div class="btn-box">
                  <a routerLink="store" class="btn1"> Shop </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="/assets/images/slider-img.png" alt=""> 
              </div>
            </div>
          </div>
        </div>
      </div>

  
    </div>
  </div>
</section>
<div class="auth">
<ul *ngIf="auth.user$ | async as user">
  Welcome Back {{ user.nickname}} 
</ul>

<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button mat-raised-button color="primary" (click)="auth.logout({ returnTo: document.location.origin })"> Log out </button>
</ng-container>
<ng-template #loggedOut>
  <button mat-raised-button color="accent" (click)="auth.loginWithRedirect()">Log in </button>
</ng-template>
</div>
<!-- end slider section -->
<br><br>
<!-- shop section -->
<section class="shop_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2> As a Certified Apple Seller </h2>
      <h2> We offer a Wide Range of Apple Products </h2>
      
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="https://www.backmarket.ie/cdn-cgi/image/format=auto,quality=75,width=1920/https://d1eh9yux7w8iql.cloudfront.net/product_images/512418_45336ede-5be0-4d43-9a27-9dbbe86638e2.jpg" alt="">
            </div>
            <div class="detail-box">
              <h2> iPhone 13 Pro </h2>
              <h2> Price: <span> €1179.99 </span>
              </h2>
            </div>
            <div class="new">
              <span> Featured </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="https://www.backmarket.ie/cdn-cgi/image/format=auto,quality=75,width=1920/https://d1eh9yux7w8iql.cloudfront.net/product_images/512341_f20872d3-4223-40c3-aff8-096562145fff.jpg" alt="">
            </div>
            <div class="detail-box">
              <h2> iPhone 13 </h2>
              <h2> Price: <span> €889.99 </span>
              </h2>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="https://www.backmarket.ie/cdn-cgi/image/format=auto,quality=75,width=640/https://d1eh9yux7w8iql.cloudfront.net/product_images/418119_fd6d2a78-ec74-4f5c-bb5c-e7794bdedeac.jpg" alt="">
            </div>
            <div class="detail-box">
              <h2> iPhone 12 </h2>
              <h2> Price: <span> €729.99 </span>
              </h2>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="/assets/images/w4.png" alt="">
            </div>
            <div class="detail-box">
              <h2> Apple Watch SE </h2>
              <h2> Price: <span> €145 </span>
              </h2>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="/assets/images/w5.png" alt="">
            </div>
            <div class="detail-box">
              <h2> Apple Watch 7 </h2>
              <h2> Price: <span> €449.99 </span>
              </h2>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6  col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="https://www.backmarket.ie/cdn-cgi/image/format=auto,quality=75,width=1920/https://d1eh9yux7w8iql.cloudfront.net/product_images/308532_7b427385-34fc-40f5-9e68-73890ed77684.jpg" alt="">
            </div>
            <div class="detail-box">
              <h2> Apple AirPods 2 </h2>
              <h2> Price: <span> €199.99 </span>
              </h2>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="https://www.backmarket.ie/cdn-cgi/image/format=auto,quality=75,width=1920/https://d1eh9yux7w8iql.cloudfront.net/product_images/None_b2e3984f-5ed8-47fb-86c3-716e95083057.jpg" alt="">
            </div>
            <div class="detail-box">
              <h2> Apple AirPods </h2>
              <h2> Price: <span> €129 </span>
              </h2>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a routerLink="store"> View All </a>
    </div>
  </div>
</section>
<!-- end shop section -->
<!-- about section -->
<section class="about_section layout_padding">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6 col-lg-5 ">
        <div class="img-box">
          <img src="/assets/images/iphone2.png" alt="">
        </div>
      </div>
      <div class="col-md-6 col-lg-7">       
        <div class="detail-box">      
          <div class="heading_container">
            <h1> Coming Soon </h1>
          </div>
          <h4> The long awaited iPhone 14 is almost here, featuring Apples new blazing fast A16 Chip</h4>   
          <h4> New Liquid Retina Display with a ton of new features </h4>       

          <a href=""> Pre-Order </a>
          <div class="info-img">
         
        </div>
        </div>     
      </div>
   
    </div>
  </div>
</section>
<!-- end about section -->
<br><br>
<!-- feature section -->
<section class="feature_section layout_padding">
  <div class="container">
    <div class="heading_container">
       Why purchase from Mobile Direct ? 
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="/assets/images/f1.png" alt="">
          </div>
          <div class="detail-box">
            <h4> Accesories </h4>
            <h3> We offer a wide range of Mobile Accesories </h3>
            <a href="">
        
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="https://toppng.com/uploads/preview/stripe-logo-11609378443aozqc5ywbg.png" alt="">
          </div>
          <div class="detail-box">
            <h4> Stripe </h4>
            <h3> We use the most secure payment platform on the planet </h3>
            <a href="">
        
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="/assets/images/f3.png" alt="">
          </div>
          <div class="detail-box">
            <h4> Order </h4>
            <h3> Once the order is made we will give up constant updates on you're order </h3>
            <a href="">
            
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="/assets/images/help.png" alt="">
          </div>
          <div class="detail-box">
            <h4> Help </h4>
            <h3> Mobile Direct™ offers first class Help & Support </h3>
            <a href="">
           
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end feature section -->


<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_detail">
          <h4> About </h4>
          <p>Mobile Direct is a Online Store specialising in Mobile Phones and other realted Mobile goods for business related questions contact mobile-direct@hotmail.com </p>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="false"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_contact">
          <h4> Reach at.. </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Dublin, Ireland </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call +353 833312432 </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> hahesyshane@gmail.com </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_contact">
          <h4> Subscribe </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit"> Subscribe </button>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="map_container">
          <div class="map">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- footer section -->
</footer>

